@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family:Bona Nova SC;
}
/* 헤더탑 */
.hdrtopwrap {
    background-color:rgb(99, 2, 2);
}
.hdrtopwrap .hdrtop {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.hdrtopwrap .hdrtop i {}

/* 헤더 */
@keyframes change {
    0%{
        color: #ffffff;
    }
    50%{
        color: #f57777;
    }
    100%{
        color: #ff0000;
    }
}
.hdrwrap {
    background-color: rgb(253, 62, 62);
}
.hdrwrap header {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Bona Nova SC';
    animation: change 0.5s linear infinite;
}
.hdrwrap header h1 {
    font-size: 25px;
}
.hdrwrap header ul {
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}
.hdrwrap header ul li:nth-last-of-type(4) {
    display: none;
}

/* 컨텐츠 공통 */
.cntwrap{
    margin-top: 80px;
}
.cntwrap .content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.cntwrap .content header{
    text-align: center;
}
.cntwrap header h2{
    line-height: 80px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
.cntwrap header p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    width: 50%;
    margin: 0 auto;
}
.cntwrap section{
    margin-top: 40px;
}
.cntwrap section article{}
.cntwrap article .image{
    background-color: #ccc;
}
.cntwrap article .texts{}
.cntwrap .texts h3{
    line-height: 40px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.cntwrap .texts h4{
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    overflow: hidden;
}
.cntwrap .texts p{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
}
.cntwrap .texts i{}

/* 컨텐츠1 */
.cnt01{}
.cnt01 header{}
.cnt01 header h2{}
.cnt01 header p{}
.cnt01 section{}
.cnt01 section .arttop{
    display: flex;
    column-gap: 20px;
}
.cnt01 .arttop article{}
.cnt01 .arttop .image{
    height: 320px;
}
.cnt01 .arttop .image.i1{}
.cnt01 .arttop .image.i2{}
.cnt01 .arttop .texts{
    border: 1px dotted #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(100% / 6 * 0.6);
    padding-right: calc(100% / 6 * 2);
}
.cnt01 .arttop .texts h3{}
.cnt01 .arttop .texts h4{}
.cnt01 .arttop .texts p{}
.cnt01 .arttop .texts .icons{}
.cnt01 .arttop .texts i{}
.cnt01 section .artbtm{
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}
.cnt01 .artbtm article{}
.cnt01 .artbtm .image{
    height: 320px;
}
.cnt01 .artbtm .image.i1{}
.cnt01 .artbtm .image.i2{}
.cnt01 .artbtm .image.i3{}
.cnt01 .artbtm .texts{
    border: 1px dotted #ccc;
    padding: 40px 24px;
}
.cnt01 .artbtm .texts h3{}
.cnt01 .artbtm .texts p{}
.cnt01 .artbtm .texts .icons{}
.cnt01 .artbtm .texts i{}


/* 컨텐츠2 */
.cntwrap .content.cnt02{
    width: 100%;
    max-width: none;
}
.cnt02 header{
    background-color: rgb(247, 69, 69);
    padding-top: 80px;
    padding-bottom: 320px;
}
.cnt02 header h2{}
.cnt02 header p{
    width: calc(80% / 12 * 6);
    margin: 0 auto;
    max-width: 520px;
}
.cnt02 section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.cnt02 section article{
    display: flex;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    margin-top: -280px;
}
.cnt02 article .image{
    width: 50%;
    height: 440px;
}
.cnt02 article .texts{
    width: 50%;
    background-color: #fff;
    padding: 80px calc(100% / 12);
    text-align: center;
}
.cnt02 article .texts h3{}
.cnt02 article .texts h4{}
.cnt02 article .texts p{
    height: 120px;
}
.cnt02 article .texts .button{
    line-height: 40px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ff0000;
    border-radius: 20px;
    width: calc(100% - 40px);
}

/* 컨텐츠3 */
.cnt03{}
.cnt03 header{}
.cnt03 header h2{}
.cnt03 header p{}
.cnt03 section{
    display: flex;
    justify-content: space-between;
}
.cnt03 section article{
    height: 200px;
    overflow: hidden;
    width: calc(100% / 4 - 20px);
    transition: all 0.5s;
}
.cnt03 section article:hover{
    box-shadow: 3px 3px 6px rgba(255, 0, 0, 0.5);
}
.cnt03 section article:hover .texts{
    margin-top: -200px;
}
.cnt03 article .image{
    height: 200px;
}
.cnt03 article .image.i1{}
.cnt03 article .image.i2{}
.cnt03 article .image.i3{}
.cnt03 article .image.i4{}
.cnt03 article .texts{
    padding: 40px 20px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    transition: all 0.5;
}
.cnt03 article .texts h3{}
.cnt03 article .texts p{}
.cnt03 article .texts div{
    width: 55px;
    font-size: 40px;
    position: absolute;
    top:10px;
    right: 10px;
}

/* 푸터 */
.ftrWrap {
    background-color: rgb(237, 100, 100);
    margin-top: 80px;
}
.ftrWrap footer {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    padding: 40px calc(100% / 12 * 2) 80px;
}
.ftrWrap footer h4 {
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.ftrWrap footer p {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
}
.ftrWrap footer .sns {
    line-height: 80px;
    font-size: 40px;
}
.ftrWrap footer .sns i {}



/* 테블릿 */
@media screen and (max-width: 1024px){
    /* 이 안의 속성이 테블릿에서 적용 됩니다 */
    .cntwrap{
        margin-top: 40px;
    }
    .cnt01 header p{
        width: 100%;
    }
    .cnt01 .arttop article:nth-of-type(2){
        display: none;
    }
    .cnt01 section .artbtm{
        justify-content: space-between;
        column-gap: unset;
    }
    .cnt01 .artbtm article{
        width: calc(50% - 20px);
    }
    .cnt01 .artbtm article:nth-of-type(3){
        display: none;
    }
    .cnt02 article .texts{
        display: none;
    }
    .cnt02 article .image{
        width: 100%;
    }
    .cnt03 section article{
        width: calc(50% - 15px);
    }
    .cnt03 section{
        flex-wrap: wrap;
        row-gap: 40px;
    }
}


@media screen and (max-width:500px){
    /* 모바일 적용 속성 */
    .hdrwrap header ul li{

    }
    
}